<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<p>
  <%= comment.commenter %>
</p>
 
<p>
  <%= comment.body %>
</p>

<p>
  <% if user_signed_in? && (current_user.id == comment.user_id) %>
    <%=link_to 'Delete', [comment.ticket, comment], method: :delete,
              data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <% if user_signed_in? && current_user.id == comment.user_id %>
    <%= link_to 'Edit', edit_ticket_comment_path(comment.ticket, comment) %> 
  <% end %>
</p>

<br>