<%= form_with(model: [ @ticket, @ticket.comments.build ]) do |form| %>
  <p>
    <%= form.hidden_field :commenter, :value => current_user.username %>
  </p>
  <p>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
