
body { padding-top: 150px; }


.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}


.nav-tabs{
 
background-color:#C8D3DB;
 
}
 
 
 
.nav-tabs > li > a{
 
border-radius: 5px;
 
}
 
.nav-tabs > li > a:hover{
 
background-color: #3D515F !important;
 
border-radius: 5px;
 
color:#fff;
 
border:1px solid black;
 
}
 
.nav-tabs > li.active > a,
 
.nav-tabs > li.active > a:focus,
 
.nav-tabs > li.active > a:hover{
 
background-color: #68889E !important;
 
color:#fff;
 
border:2px solid #3F515F;
 
}